*{
    padding: 0;
    margin: 0;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(119, 77, 77);
}

.nav-links{
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li{
    padding-left: 50px;
}
/*cambiar color de links y quitar subrayado de links*/
.nav-links li a{
    color:white;
    text-decoration: none;
}
.hero{
    background-image: url(https://img.freepik.com/foto-gratis/arreglo-diferentes-tazas-cafe-vista-superior_23-2149514260.jpg);
    background-size:contain;
    background-position: center;
    color: black;
    padding:50px;

    }

.hero-content{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.hero h2{
    font-size: 3rem;
    margin-bottom: 25px;
    background-color: black;
    color: white;
}
.hero p{
    background-color: black;
    color: white;
}

.contenedor-boton{
   margin-top:80px ; 
}

.boton{
    padding: 15px;
    border-radius: 20%;
}


.featured-products{
    padding: 50px;
    text-align: center;
}

.product-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product{
    width: 350px;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out;
}

.product:hover{
    background-color: rgb(196, 161, 108);
    transform: scale(1.5);
    transform: rotate(2deg);
    
}

.product img{
    width: 100%;
    height: 280px;
    object-fit:fill;
    margin-bottom: 10px;
}

.Postres{
    padding: 50px;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}

.postre img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/* seccion de personal imagenes y texto*/ 
.equipo{
    padding: 50px;
    text-align: center;
    background-color: oldlace;
}

.equipo-container{
    display:flex ;
    justify-content: space-around;
    flex-wrap: wrap;
}

.miembro{
    width: 200px;
    margin-bottom: 50px;
}

.miembro img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


footer{
    background-color:brown;
    color: white;
    text-align: center;

}
