*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(119, 77, 77);
}

.nav-links{
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
}


.nav-links li{
    padding-left: 50px;
}
/*cambiar color de links y quitar subrayado de links*/
.nav-links li a{
    color:white;
    text-decoration: none;
}

.nav-links li a:hover{
    color: rgb(196, 161, 108);
}

.hero{
    background-image: url(https://cdn.pixabay.com/photo/2024/01/24/13/42/cafe-street-8529612_1280.jpg);
    background-size:cover;
    background-position: center;
    color: white;
    height: 100vh;
    padding: 15px;
    }

.hero-content{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100%;
}

.hero h2{
    font-size: 3rem;
    margin-top: 250px;
    color: white;
    background-color: black;
}
.hero p{
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
    background-color: black;
}

.contenedor-boton{
    margin-top:80px; 
}

.boton{
    padding: 15px;
    border-radius: 10%;
    color: white;
    background-color: black;
    transition: all 0.7s ease-in-out;
}

.boton:hover{
    background-color: rgb(196, 161, 108);
    transform: scale(1.2);
}

.boton a{
    color:white;
    text-decoration: none;
}

.featured-products{
    padding: 50px;
    text-align: center;
    background-color: black;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    grid-template-areas: 
    "product1 product2 product3 product4"
    "product5 product6 product7 product8"
    "product9 product10 product11 product12"
    "product13 product14 product15 product16";
}

.product:nth-child(1){grid-area: product3;}
.product:nth-child(2){grid-area: product4;}
.product:nth-child(3){grid-area: product5;}
.product:nth-child(4){grid-area: product6;}
.product:nth-child(5){grid-area: product7;}
.product:nth-child(6){grid-area: product8;}
.product:nth-child(7){grid-area: product9;}
.product:nth-child(8){grid-area: product10;}
.product:nth-child(9){grid-area: product11;}
.product:nth-child(10){grid-area: product12;}
.product:nth-child(11){grid-area: product13;}
.product:nth-child(12){grid-area: product14;}
.product:nth-child(13){grid-area: product15;}
.product:nth-child(14){grid-area: product2;}


.product{
    transition: all 0.5s ease-in-out;
}

.product:hover{
    background-color: rgb(196, 161, 108);
    transform: scale(1.05);    
}

.product img{
    width: 100%;
    height: 280px;
    object-fit:fill;
    margin-bottom: 10px;
}



.Postres{
    padding: 50px;
    text-align: center;
    background-color: rgba(218,217,215,255);
    color: rgba(218,217,215,255);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 300px 1fr 350px;
    gap: 20px;
    grid-template-areas: 
    "postre9 postre9 postre9 postre9"
    "postre1 postre2 postre3 postre4"
    "postre5 postre6 postre7 postre8"   ;
}


.postre:nth-child(1){grid-area: postre1;}
.postre:nth-child(2){grid-area: postre2;}
.postre:nth-child(3){grid-area: postre3;}
.postre:nth-child(4){grid-area: postre4;}
.postre:nth-child(5){grid-area: postre5;}
.postre:nth-child(6){grid-area: postre6;}
.postre:nth-child(7){grid-area: postre7;}
.postre:nth-child(8){grid-area: postre8;}
.postre:nth-child(9){grid-area: postre9;}

.postre img{
    width: 100%;
    height: 250px;
    object-fit: fill;
}

.postre{
    transition: all 0.5s ease-in-out;
}

.postre:hover{
    background-color: black;
    transform: scale(1.05);
}


/* seccion de personal imagenes y texto*/ 
.equipo{
    padding: 50px;
    text-align: center;
    background-color: black;
}

.equipo h2{
    color: white;
    padding-bottom: 20px;
}

.equipo-container{
    display:flex ;
    justify-content: space-around;
    flex-wrap: wrap;
}

.miembro{
    width: 200px;
    margin-bottom: 50px;
    transition: all 0.5s ease-in-out;
}

.miembro:hover{
    background-color: rgb(196, 161, 108);
    transform: scale(1.05);
}

.miembro img{
    width: 200px;
    height: 200px;
    object-fit:cover;
    background-color: black;
}

.Nosotros{
    background-color: rgba(218,217,215,255);
    text-align: center;
}



footer{
    color: white;
    background-color: rgb(119, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.social-media{
    display: flex;
    justify-content: space-around;

}

.social-media a{
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.footer-container p{
    margin: 8px;
}
.newsletter{
    margin: 10px;
    text-align: center;
}

.newsletter input[type="email"]{
    padding: 10px;
}

.newsletter button[type="submit"]{
    background-color: darksalmon;
    border: none;
    padding: 5px;
}

.menus{
    padding: 30px;
    text-align: center;
}

